@charset "utf-8";
@use 'mixin' as *;
@use 'layouts/header' as *;
@use 'layouts/footer' as *;
@use 'layouts/scrolllTop' as *;
@use 'layouts/quick' as *;

/*** CONTAINER ***/
#wrap {
  overflow: hidden;
  
  &.about {
    background:url("@/assets/images/img-about-visual.png") no-repeat center / cover;

    #header::before {
      background: transparent;
    }

    #container {
      margin-bottom: 0;
      padding: 0;
    }
  }
  &.bgGray {
    background-color: #E6E6E6;
    @include response-to("768") {
      &.gallery {
        background-color: #fff;
      }
    }
  }

  #container {
    margin-bottom: 120px;
    padding: 172px 60px 60px 300px;
    min-height: 100vh;
    @include response-to('1280'){
      padding: 172px 60px 60px 220px;
    }

    &.products {
      padding: 100px 60px 60px 300px;
      @include response-to('1280'){
        padding: 80px 40px 40px 250px;
      }
      @include response-to('1160'){
        padding: 80px 40px 40px 40px;
      }
      @include response-to('940'){
        padding: 80px 20px 40px 20px;
      }
      @include response-to('940'){
        padding: 60px 20px 20px 20px;
      }
    }
  }
}

body.bg-gray #container {
    padding: 172px 60px 60px;
}
@include response-to("1160") {
  #wrap #container,
  body.bg-gray #container {
    padding: 80px 60px 60px;
  }
}
@include response-to("940") {
  #wrap #container, body.bg-gray #container {
    padding: 80px 24px 60px;
  }
}
@include response-to("768") {
  #wrap #container, body.bg-gray #container {
    padding: 80px 24px 20px;
  }
}
