@charset "utf-8";
/*** HEADER ***/
#header {
    position: fixed;
    z-index: 100;
    top: 60px;
    left: 60px;
  
    h1 > a {
      display: inline-block;
      width: 181px;
      height: 29px;
      background: url("../images/logo-b.png") no-repeat (center / 100%) auto;
      text-indent: -9999px;
    }
  
    > * {
      color: #fff;
    }
  
    a, button {
      font-family: 'GmarketSans', sans-serif;
      font-size: 18px;
      color: #191919;
    }
  
    .menu {
      display: inline-block;
      margin-top: 75px;
  
      > ul > li {
        overflow: hidden;
        margin-top: 10px;
        text-transform: uppercase;
  
        > {
          a, 
          button {
            padding-right: 18px;
            background: url("../images/ico-arrow-b.png") no-repeat center (right / auto);
            font-weight: 700;
          }
        }

        a.nav-active,
        button.curr {
          color:#939393;
        }
  
        &:hover > {
          a, button {
            color: rgba(25, 25, 25, 0.7);
            transition: all 0.2s;
            -webkit-transition: all 0.2s;
            -moz-transition: all 0.2s;
            background: url("../images/ico-arrow-g.png") no-repeat center (right / auto);
          }
        }
  
        > {
          a.curr, 
          button.curr {
            background: url("../images/ico-arrow-up-g.png") no-repeat center (right / auto);
            color:#939393;
          }
  
          ul {
            height: 0;
            padding-left: 10px;
            transition: all 0.4s ease-in-out;
          }
        }
  
        &.product > button.curr + ul {
          height: 25px;
        }
  
        &.commu > button.curr + ul {
          height: 75px;
        }
  
        &:first-child > a {
          background: none;
        }
      }
    }
  
    .util {
      position: fixed;
      top: 50%;
      margin-bottom: -165px;
      margin-top: 50px;
  
      a,
      button {
        display: block;
        font-weight: 700;
  
        + a {
          margin-top: 20px;
        }
      }
      button {
        margin-top:20px;
      }
    }
  
    .lang {
      position: fixed;
      top: 52px;
      right: 80px;
  
      button {
        display: inline-block;
        line-height: 30px;
        font-weight: 700;
        color: rgba(25, 25, 25, 0.5);
  
        &.curr {
          border-bottom: 2px solid #191919;
          color: #191919;
        }
  
        + button {
          margin-left: 16px;
        }
      }
    }
  
    .insta {
      position: fixed;
      left: 60px;
      bottom: 60px;
      display: inline-block;
      width: 30px;
      height: 30px;
      background: url("../images/ico-insta-b.png") no-repeat (center / 30px) auto;
    }
  
    &.top {
      h1 > a {
        background: url("../images/logo.png") no-repeat (center / 100%) auto;
      }
  
      a,
      button {
        color: #fff;
  
        span {
          display: inline-block;
          margin-top: 5px;
        }
      }
  
      .menu > ul > li {
        > a,
        > button {
          background: url("../images/ico-arrow-down.png") no-repeat center (right / auto);
        }
  
        &:hover {
            > a,
            > button {
                color: rgba(255, 255, 255, 0.7);
            }
        }
  
        > a.on,
        > button.on {
          background: url("../images/ico-arrow-up.png") no-repeat center (right / auto);
        }

        &:first-child > a {
            background: none;
        }
      }
  
      .lang button {
        color: rgba(255, 255, 255, 0.5);
  
        &.curr {
          border-bottom: 2px solid #fff;
          color: #fff;
        }
      }
  
      .insta {
        background: url("../images/ico-insta.png") no-repeat (center / 30px) auto;
      }
    }
  
    .btnMenuClose {
      display: none;
      z-index: 1001;
    }
  }
  
  @media (max-width: 1160px) {
    #header {
      top: 0;
      left: 0;
      width:100%;
      height:60px;
      background:#fff;
  
      &:before {
        height: 60px;
      }
  
      h1 {
        position: fixed;
        top:20px; 
        left:24px;
        z-index: 10;
  
        a {
          width: 110px;
          height: 20px;
        }
      }
  
      .gnb {
        position: fixed;
        top: 0;
        right: -100%;
        bottom: 0;
        padding: 0 25px;
        width: 100%;
        background: #191919;
        transition-duration: 0.2s;
      }
  
      &.open .gnb {
        right: -300px;
      }
  
      .menu > ul > li {
        &:hover > a {
          color: rgba(255, 255, 255, 1);
        }
  
        > ul {
          padding-top: 5px;
          padding-left: 20px;
  
          > li > a {
            font-size: 14px;
          }
        }
      }
  
      .util {
        top: 45%;
        margin-top: 0;
      }
  
      .lang {
        position: absolute;
        top: initial;
        right: 25px;
        bottom: 93px;
  
        button {
          font-size: 14px;
          color: rgba(255, 255, 255, 0.5);
  
          &.curr {
            border-color: #fff;
            color: #fff;
          }
        }
      }
  
      .insta {
        position: absolute;
        left: 25px;
        bottom: 93px;
        background-image: url("../images/ico-insta.png");
      }
  
      a,
      button {
        color: #fff;
      }
  
      &.on h1 > a {
        background-image: url("../images/logo.png");
      }
  
      .menu > ul > li {
        > a,
        > button {
            background-image: url("../images/ico-arrow-down.png");
        }
      }
  
      .btnMenu {
        display: inline-block;
        position: fixed;
        top: 20px;
        right: 24px;
        z-index: 10;
        width: 30px;
        height: 20px;
        line-height: 70px;
        margin-left: 15px;
        padding: 2px;
        box-sizing: content-box;
  
        &::before, 
        &::after {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 30px;
          height: 1px;
          background-color: #050707;
          transform-origin: center;
          transition-duration: 0.2s;
        }
  
        &::before {
          margin-top: -6px;
        }
  
        &::after {
          margin-top: 7px;
        }
  
        em::before {
          content: "";
          position: absolute;
          top: 50%;
          left: 2px;
          width: 25px;
          height: 1px;
          background-color: #050707;
        }
      }

      &.on {
        .btnMenu::before {
          margin-top: 0;
          transform: translate(-50%, -50%) rotate(45deg);
          background-color: #fff;
        }

        .btnMenu::after {
          margin-top: 0;
          transform: translate(-50%, -50%) rotate(-45deg);
          background-color: #fff;
        }

        em::before {
          display: none;
        }
      } 
    }
  }

/*** CONTAINER ***/
#container {
    margin-bottom: 120px;
    padding: 172px 60px 60px 300px;
}

body.bgGray #container {
    padding: 172px 60px 60px;
}

@media (max-width: 1160px) {
    #container, body.bgGray #container {
        padding: 80px 60px 60px;
    }
}

@media (max-width: 940px) {
    #container, body.bgGray #container {
        padding: 80px 24px 60px;
    }
}

@media (max-width: 768px) {
    #container, body.bgGray #container {
        padding: 80px 24px 20px;
    }
}

/*** FOOTER ***/
#footer {
margin: 0 60px 0 300px;
padding: 60px 0 80px;
border-top: 1px solid #191919;

.inner {
    display: flex;
    justify-content: space-between;
}

p > a {
    display: inline-block;
    width: 178px;
    height: 26px;
    background: url("../images/logo-footer.png") no-repeat (center / 100%) auto;
}

    > div {
        flex: 1;
        text-align: right;

        > div > {
        p + p {
            margin-top: 8px;
        }

        * {
            line-height: 26px;
            font-weight: 400;
        }

        div {
            > span {
            white-space: nowrap;

            + span {
                margin-left: 30px;
            }
            }

            + div > span {
            margin-left: 30px;
            }
        }
        }
    }

    address {
        display: inline-block;
    }
}

@media (max-width: 1160px) {
    #footer {
        margin: 0 60px;
    }
}

@media (max-width: 940px) {
    #footer {
        margin: 0 24px;

        > div > div > div {
            > span + span, 
            + div > span {
                margin-left: 15px;
            }
        }
    }
}

@media (max-width: 768px) {
    #footer {
        position:relative;
        padding: 30px 0;

        .inner {
            display: block;
            text-align: left;

          * {
            font-size: 12px;  
          }

          > div > div {
            padding-bottom:10px;

            > span + span, 
            + div > span {
                margin-left: 0;
            }
          }

          > p {
            padding-bottom:10px;
            > a {
              width:126px;
            }
          }

          span {
            display:block;
            line-height:18px;
          }

          .insta {
            position: absolute;
            top: 30px;
            right: 0;
            display: inline-block;
            width: 30px;
            height: 30px;
            background: url("../images/ico-insta-b.png") no-repeat (center / 30px) auto;
          }
        }
    }
}
