@charset "utf-8";

#fullpage {
  position: relative;
  top: 0;
  z-index: 9;
  width: 100%;
  height: 100%;
}

.fullsection {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100vh;

  > .inner {
    padding: 60px 50px 20px 360px;
  }
}

.full1 {
  background: url("../images/img-visual.jpg") no-repeat (center / cover);
}

.full2 > .inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background: #fff;
}

/* .full2 > .inner span {color:#fff} */

.full3 {
  background: rgba(230, 230, 230, 1);
}

@media (max-width: 1280px) {
  .fullsection > .inner {
    padding: 0 60px 0 300px;
  }
}

@media (max-width: 1160px) {
  .fullsection > .inner {
    padding: 0 60px;
  }
}

@media (max-width: 940px) {
  .fullsection > .inner {
    padding: 0 30px;
  }
}

@media (max-width: 768px) {
  .full3 {
    padding: 0;
  }
}

/* section2 */
.productSlider {
  position: relative;
  overflow: hidden;
  margin: 0;

  .sliderTit {
    strong {
      padding: 0 56px;
      font-family: 'GmarketSans', sans-serif;
      font-weight: 700;
      font-size: 26px;
    }

    p {
      padding-top: 10px;
      font-weight: 300;
      font-size: 16px;
    }
  }

  .item {
    display: flex;
    align-items: center;
  }

  > .swiper > .swiper-wrapper > .swiper-slide {
    opacity: 0 !important;
    transition: opacity 0.3s ease-in-out;

    &.swiper-slide-prev, 
    &.swiper-slide-next {
      opacity: 0 !important;
      transition: opacity 0.3s ease-in-out;
    }

    &.swiper-slide-active {
      opacity: 1 !important;
    }
  }

  .swiperBtn {
    position: absolute;
    top: -4px;
    left: 50%;
    z-index: 100;
    width:50%;
    height: 30px;
    transform: translateX(-50%);
  
    > button {
      position:absolute; 
      top:0;
      display:block; 
      width:30px;
      height:30px;
      background: no-repeat center/ 10px auto;
      text-indent:-9999px;

      ::after {
        display: none;
      }
    }

    ._productPrev {
      right: 0;
      background-image: url("../images/btn-next.png");
    }

    ._productNext {
      left: 0;
      background-image: url("../images/btn-prev.png");
    }
  }

  .swiperPaging {
    position:absolute;
    bottom: 5px !important;
    left:50%;
    transform:translateX(-50%);

    .swiper-pagination-bullet-active {
      background:#191919 !important
    }
  }
}

@media (max-width: 1500px) {
  .productSlider {
    max-height: 100%;

    .swiper-pagination {
      bottom: 5px !important;
    }
  }
}

@media (max-width: 1160px) {
  .productSlider {
    margin-top: 5%;

    .sliderTit {
      strong {
        padding: 0 45px;
        font-size: 24px;
      }

      p {
        font-size: 14px;
      }
    }

    .item {
      flex-wrap: wrap;
      justify-content: space-around;
      margin-top: 40px;
    }

    .swiper-pagination {
      bottom: 15px !important;
    }
  }
}

@media (max-width: 768px) {
  .productSlider {
    .item {
      margin-top:20px;
    }
    ._productNext, ._productPrev {
      width: 20px;
    }

    .swiper-pagination {
      bottom: 5px !important;
    }
  }
}

@media (max-width: 600px) {
  .productSlider .swiperBtn {
    width:100%;
  }
}

.colorChse {
  padding: 7px;

  ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;

    li {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 46px;
      height: 46px;

      a:hover, 
      &.curr a {
        width: 43px;
        height: 43px;
        border: 3px solid #fff;
        box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
      }
  
      &.cBlack a {
        background-color: #000;
      }
  
      &.cWhite a {
        border-color: #191919;
        background-color: #fff;
      }
  
      &.cGray a {
        background-color: #939393;
      }
  
      &.cBrown a {
        background-color: #855937;
      }
  
      &.cRed a {
        background-color: #EA5D5D;
      }
  
      &.cYellow a {
        background-color: #FDD33F;
      }
  
      &.cBeige a {
        background-color: #DEC9A6;
      }
  
      &.cBlue a {
        background-color: #3EBAEF;
      }
  
      &.cGreen a {
        background-color: #58FFAF;
      }
  
      &.cPurple a {
        background-color: #B661F9;
      }
    }
  }

  a {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid transparent;
    border-radius: 100%;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
  }
}

@media (max-width: 1500px) {
  .colorChse {
    ul {
      gap: 10px;

      li {
        width: 28px;
        height: 28px;
      }
    }

    a {
      width: 20px;
      height: 20px;

      &:hover {
        width: 28px;
        height: 28px;
        border: 2px solid #fff;
      }
    }

    ul li.curr a {
      width: 28px;
      height: 28px;
      border: 2px solid #fff;
    }
  }
}

@media (max-width: 1160px) {
  .colorChse {
    display: flex;
    flex: 50%;
    justify-content: center;

    ul {
      grid-template-columns: repeat(4, 1fr);
      gap: 0;

      li {
        width: 26px;
        height: 26px;
      }
    }

    a {
      width: 16px;
      height: 16px;

      &:hover {
        width: 26px;
        height: 26px;
      }
    }

    ul li {
      &.curr a {
        width: 26px;
        height: 26px;
      }

      &.cGreen {
        grid-column: -4;
      }

      &.cPurple {
        grid-column: -3;
      }
    }
  }
}

.fullsection .detailSlider {
  margin: 0;
}

.detailSlider {
  .swiper {
    position: relative;
    margin: 2% 7% 0 !important;
    padding: 0 10% !important;
  }

  .swiper-wrapper {
    align-items: center;
  }

  .swiper-slide {
    text-align: center;

    picture {
      display: block;
    }

    img {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }

  .swiper-button-next, 
  .swiper-button-prev {
    top: 50%;
    margin-top: -40px;
    width: 65px !important;
    height: 65px !important;
  }

  .swiper-button-next {
    right: 0;
    background: url("../images/btn-slide-next-2.png") no-repeat center/ 65px auto !important;
  }

  .swiper-button-prev {
    left: 0;
    background: url("../images/btn-slide-prev-2.png") no-repeat center/ 65px auto !important;
  }
}

@media (max-width: 1600px) {
  .detailSlider {
    .swiper {
      margin: 0 2% !important;
    }

    .swiper-button-next, .swiper-button-prev {
      margin-top: -20px;
      width: 40px;
      height: 40px;
      background-size: 40px auto;
    }
  }
}

@media (max-width: 1160px) {
  .detailSlider {
    .swiper {
      margin: 0;
      padding: 0;
      max-width: 650px;
      width: 100%;
    }

    order: 3;

    .swiper-button-next, .swiper-button-prev {
      display: none;
    }
  }
}

.shopBtn {
  padding-top: 30px;

  button {
    border-radius: 50px;

    > span {
      display: inline-block;
      padding-right: 22px;
      background: url("../images/btn-next-w.png") no-repeat center (right / 8px) auto;
      font-family: 'GmarketSans', sans-serif;
      font-weight: 700;
      font-size: 18px;
      color: #fff;
    }
  }
}

.quick {
  position: fixed;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9999;

  li {
    margin-bottom: 10px;
    width: 12px;
    height: 12px;
    border-radius: 15px;
    border: 2px solid #000;
    cursor: pointer;
  }

  .on {
    height: 50px;
    background: #000;
  }

  &.themeBk {
    li {
      border-color: #000;
    }

    .on {
      background: #000;
    }
  }
}

@media (max-width: 1160px) {
  .shopBtn {
    left: 50%;
    padding-top:0;
  }

  .quick {
    li {
      width: 8px;
      height: 8px;
    }

    .on {
      height: 32px;
    }
  }
}

@media (max-width: 940px) {
  .shopBtn button {
    width: 180px;
    height: 60px;

    span {
      font-size: 12px;
    }
  }
}

/* section3 */

.full3 {
  h2 {
    display: none;
  }

  > .inner {
    height: 100%;
  }
}

.gallSlider {
  height: 100%;
}

.full3 > .inner {
  padding-top: 85px;
  height: 100vh;
}

.gallSlider {
  padding-top: 40px;

  > .swiper-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(32%, 2fr));
    grid-template-rows: 50% 50%;
    gap: 10px;
    margin: -20px;
  }

  .swiper-slide {
    &:nth-child(1) {
      grid-column: 1 / 3;
      grid-row: 1 / 2;
    }

    &:nth-child(2) {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
    }

    &:nth-child(3) {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
    }

    &:nth-child(4) {
      grid-column: 3 / 4;
      grid-row: 1 / 3;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    strong {
      display: block;
      position: absolute;
      right: 25px;
      bottom: 22px;
      font-family: 'GmarketSans', sans-serif;
      font-weight: 700;
      font-size: 20px;
      color: #fff;
    }
  }
}

.inGallSlider {
  position: relative;
  overflow: hidden;
  height: 100%;

  .swiper-button-next, .swiper-button-prev {
    background: no-repeat center/ 100% auto;
  }

  .swiper-button-next::after, .swiper-button-prev::after {
    display: none;
  }

  .swiper-button-next, .swiper-button-prev {
    top: 50%;
    margin-top: -17px;
    width: 17px;
    height: 34px;
  }

  .swiper-button-next {
    right: 25px;
    background-image: url("../images/btn-next-w.png");
  }

  .swiper-button-prev {
    left: 25px;
    background-image: url("../images/btn-prev-w.png");
  }
}

@media (max-width: 940px) {
  .gallSlider .swiper-slide strong {
    right: 15px;
    bottom: 12px;
    font-weight: 500;
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .full3 {
    h2 {
      display: block;
      padding-bottom: 25px;
      font-family: 'GmarketSans', sans-serif;
      font-weight: 700;
      font-size: 26px;
      text-align: center;
    }

    > .inner {
      height: calc(100% - 50px);
    }
  }

  .gallSlider {
    height: calc(100% - 50px);

    > .swiper-wrapper {
      display: flex;
      grid-template-columns: none;
      grid-template-rows: none;
      gap: 10px;
      margin: 0;

      > .swiper-slide {
        width: 90% !important;
      }
    }
  }
}
