@use '../mixin' as *;

/*** FOOTER ***/
#footer {
  margin: 0 60px;
  padding: 60px 0 80px;
  border-top: 1px solid #191919;
  position: relative;
  background: #fff;

  .inner {
    display: flex;
    justify-content: space-between;
  }

  p > a {
    display: inline-block;
    width: 145px;
    height: 38px;
    background-image: url("@/assets/images/main_bk.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  > div {
    flex: 1;
    text-align: right;

    > div > {
      p + p {
        margin-top: 8px;
      }

      * {
        line-height: 26px;
        font-weight: 400;
      }

      div {
        > span {
          white-space: nowrap;

          + span {
            margin-left: 30px;
          }
        }

        + div > span {
          margin-left: 30px;
        }
      }
    }
  }

  address {
    display: inline-block;
  }

  @include response-to("1160") {
    margin: 0 60px;
  }

  @include response-to("940") {
    margin: 0 24px;

    > div > div > div {
      > span + span,
      + div > span {
        margin-left: 15px;
      }
    }
  }
}

@include response-to("768") {
  #footer {
    position:relative;
    padding: 30px 0;

    .inner {
      display: block;
      text-align: left;

      * {
        font-size: 12px;
      }

      > div > div {
        padding-bottom:10px;

        > span + span,
        + div > span {
          margin-left: 0;
        }
      }

      > p {
        padding-bottom:10px;

        > a {
          width:126px;
        }
      }

      span {
        display:block;
        line-height:18px;
      }

      .insta {
        position: absolute;
        top: 30px;
        right: 0;
        display: inline-block;
        width: 30px;
        height: 30px;
        background: url("@/assets/images/ico-insta-b.png") no-repeat (center / 30px) auto;
      }
    }
  }
}
